.home {
    text-align: left;
    height: 100vh;
    width:auto;
    position: relative;
    margin: 0px 125px;
}
.content-1 {

}


.home-info {
    display: flex;
    position: relative;
    bottom: 12.5px;
    width:max-content;
}
.home-info_box {
    display: block;
    margin-right: 150px;
}
.home-info_box h4 {
    font-size: 1.1rem;
    background: linear-gradient(to right, #000000, #271e1b 37.5%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.home-info_box h5 {
    background: linear-gradient(to right, #0f0f0f, #5e4942 37.5%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    bottom: 17.5px;
    font-weight: 700;
}
.home-info_box img {
    width: 1.3rem;
    position: relative;
    top: 22px;
    filter: contrast(200%);
}



.home-con {
    margin-top: 200px;
    -ms-transform:translate(-50%) ;
    transform: translateY(-50%);
    z-index: 1000;
}

.home-con h1 {
    font-weight:bold;
    background: linear-gradient(to right, #000000, #b9a8a1 99.9%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .home-con p {
    background: linear-gradient(to right, #fff7c4, #dab2a4 99.9%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
  }
.home__button {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 20px;
    border: 0px;
    width: 147px;
    height: 50px;
    background-color: #fff7c4;
    color: #271e1b;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    border-radius: 14px;
    font-weight: 500;
    opacity: 0.9;
    cursor: pointer;
    transition: all 0.1s ease-out;
    margin-bottom: 40px;
}

.home__button:hover {
    color: #000000;
    background-color:#D5CEA3;
    opacity: 1;
}



@media (max-width: 768px) {
    .home {
        padding: 0;
        margin: 0px 25px;
        position: relative;
        margin-top: 150px;
        width: fit-content;
    }
    
    .content-1 {
        position: relative;
    }

    .home-info {
        display:block;
        position: relative;
        width: 100%;
        bottom: 0;
    }
    .home-info_box {
        display: flex;
        margin-right: 0px;
        position: relative;
        margin: 10px 0;
    }

    .home-info_box h4 {
        font-size: 1.1rem;
        background: linear-gradient(to right, #000000, #271e1b 37.5%);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        float: right;
        position: relative;
        left: 25px;
    }
    .home-info_box h5 {
        background: linear-gradient(to right, #0f0f0f, #000000 37.5%);
        background-clip: text;
        -webkit-text-fill-color: transparent;    
        position: absolute;
        bottom: -4px;
        right: 0px;
        font-size: 1rem;
        float: none;
    }
    .home-info_box img {
        width: 1.5rem;
        height: 1.5rem;
        top: 22px;
        float: left;
    }


    .home-con {
        margin-top: 0px;
        position: relative;
        bottom: -225px;
        -ms-transform:translate(-50%) ;
        transform: translateY(-50%);
        z-index: 0;
    }
    .home-con h1 {
        font-size: 2.8rem;
        background: linear-gradient(to right, #000000, #000000 99.9%);
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .home-con p {
        font-size: 1.5rem;
        background: linear-gradient(to right, #fff7c4, #ffffff 99.9%);
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
      .home__button {
        float: right;
    }
}


@media (max-width: 1024px) and (min-width: 769px) {
    .home-info {
        overflow-wrap: break-word;
    }
}