.landingpages {
    text-align: center;
    padding: 0 40px;
}

.landingpages div {
    display: flex;
    justify-content:center;
    text-align: center;
}


.landingpages div img {
    width: 42.5rem;
    height: 27.5rem;
    margin: auto;
    padding-bottom: 10px;
    border-radius: 25px;
}

.landingpages h1{
    text-align: left;
    background: linear-gradient(to right, rgb(0, 0, 0), #5e453ab5);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2rem;
    margin-left: 0px;
    position: relative;
    top: 15px;
}

.landingpages p {
    text-align: left;
    width: fit-content;
    background-color: rgba(255, 185, 135, 0.348);
    color: rgb(0, 0, 0);
    border-radius: 14px;
    font-size: 1.2rem;
    margin-left: 0px;

}