
::-webkit-scrollbar {
    background-color: transparent;
    width: 5px;
    overflow: overlay;
  }
  
  ::-webkit-scrollbar-track {
    display: none;
    visibility: hidden;
    Background: transparent;
  }
   
  ::-webkit-scrollbar-thumb {
    background: #271e1b; 
    border-radius: 14px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #271e1b; 
  }
  ::-moz-selection { /* Code for Firefox */
    background: #271e1b;
  }
  
  ::selection {
    background: #271e1b;
  }
  


@media (max-width: 767px) {


::-webkit-scrollbar {
background-color: #271e1b;
width: auto;
height: 3px;
box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

::-webkit-scrollbar-track {
display: none;
visibility: hidden;
Background: transparent;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to right, #b9a8a1 , #E5E5CB );
  border-radius: 14px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

::-webkit-scrollbar-thumb:hover {
background: #b9a8a1; 
}
::-moz-selection { /* Code for Firefox */
background: #b9a8a1;
}

::selection {
background: #b9a8a1;
}

}

