.work {
  margin-bottom: 150px;
  height: fit-content;
}
.work-1 {
    background: linear-gradient(to right, #271e1b 70%, #b9a8a1);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  
}

.work-p {
    font-size: 1.7rem;
    color: rgb(69, 51, 28);
    font-weight: 700;
}
.landing {
  padding-bottom: 50px;
}
.Note {
  background-image: linear-gradient(to right, rgba(87, 60, 51, 0.662), #000000a1);
  padding: 15px 50px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 0px 34px ;
  margin-top: 110px;
}
.Note h1 {
  background: linear-gradient(to right, bisque, #b9a8a1b5);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.Note p {
  color: #fff3a8;
  background-color: rgba(0, 0, 0, 0.025);
}

@media (max-width: 767px) {
  .work {
    width: fit-content;
    margin-bottom: 50px;
  }
    .Project {
        background-image: linear-gradient(to left, #271e1b, #000000);
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
        border-radius: 14px;
        padding: 0px;
        margin-bottom: 50px;
        margin: auto auto 50px auto;
    }
    .Project-id {
      left: 25px;
      top: 29px;
  }
  .Project-id div{
    display: block;
}

.Project-id p{
  font-size: 18px;
  line-height: 22px;
  width: min-content;
}
.Project hr { 
  width: 10%;
}


.Project-status {
  display:flow-root;
  justify-content:first baseline;
  text-align: center;
  margin: auto;
  overflow-wrap: break-word;
}

.Project-status_box {
  display: block;
  margin-right: 0px;
  margin-left: 0px;
  position: relative;
}
.Project-status_box img{
  right: -3px;
}

.Project-pages {
  display:flow-root;
  margin: auto;
  text-align: center;
}
.Project-pages img{
  margin: auto;
  text-align: center;
  width: 13.5rem;
  margin:0 10px;
  margin-bottom: 25px;
}
.Project-pages h2{
  font-size: 1.5rem;
  display: block;
  margin-left: auto;
  bottom: 25px;
  text-align: center;

}
.View-All button{
}
.View-All button{
  border: 1px #b9a8a1 solid; 
  width: 50%;
  background: linear-gradient(to right, bisque, #b9a8a1b5);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 1;
  margin-bottom: 40px;
}




.landing {
  display: none;
}

.Note {
  margin-top: 50px;
}
}