.Manifesto {
    display: inline-block;
    width:fit-content;
}
.Manifesto-div {
    background-image: linear-gradient(to right, #271e1b, #000000);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    border-radius: 14px;
    margin-bottom: 50px;
    width: fit-content;
    display: flex;
    padding: 20px 32.5px;
}
.Manifesto-div img {
    width: 12rem;
    height: 9rem;
    position: relative;
    top: 25px;
    left: 7.5px;
    margin-right: 45px;
}
.Manifesto-1 {
    font-size: 22px;
    font-weight: 600;
    background: linear-gradient(to right, #E5E5CB, #b9a8a16f);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
}
.Manifesto-div p {
    font-size: 19px;
    font-weight: 400;
    line-height: 40px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    color: #eeeeeea6;
}


.Manifesto {
    width: 100%;
}
.Manifesto-div-skill {
    width: 25%;
    padding: 17.5px 35px;
}

@media (max-width: 767px) {
    .Manifesto-mo {
        display: block;
        height:fit-content;
    }
    .Manifesto-div {
        width: fit-content;
        display: block;
        padding: 20px 25px;
    }
    .Manifesto-div img {
        width: fit-content;
        height: 127.5px;
        top: 0px;
        float: right;
        left: 0px;
        margin-right: 0px;
    }
    .Manifesto-1 {
        font-size: 25px;
        font-weight: 900;
    }
    .Manifesto-div p {
        font-size: 18px;
        line-height: 35px;
    }

   
}